* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* google fonts links  */
/* font-family: 'Inter', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Poppins', sans-serif; */
html,
body {
  font-family: "Poppins", sans-serif;
}
